[Unit]
Description=Shutdown Disk Eject
Before=shutdown.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/eject /dev/cdrom
TimeoutStartSec=0

[Install]
WantedBy=shutdown.target